/* Attributi generali */
/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header e intestazione */

header {
    background-color: #add8e6;
    min-height:80px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.intestazione > div {
    
    min-height: 30px;
    min-width: 250px;
    background-color: #daa520;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;

}

#logo {
    text-align: left;
    
}

#button {
    text-align: right;
    
}

#link {
    text-align: center;
    min-width: 400px;
    
    
}

/* Fine attributi header */

/* inizio attributi Main  */

.first-block {
    background-color: #00008b;
    min-height: 300px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.first-block > div {
    background-color: #ee82ee;
    min-width: 750px;
    padding-top: 9%;
    padding-bottom: 9%;
}

/* Fine First Block  */

/* Inizio Second Block  */