/* Attributi generali */
/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header e intestazione */

header {
    background-color: #add8e6;
    min-height:80px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.intestazione > div {
    
    min-height: 30px;
    min-width: 300px;
    background-color: #daa520;
    vertical-align: middle;
    padding: 10px 5px 10px 5px;

}

#logo {
    text-align: left;
    
}

#button {
    text-align: right;
    
}

#link {
    text-align: center;
    min-width: 450px;
    
    
}

/* Fine attributi header */

/* inizio attributi Main  */

.first-block {
    background-color: #00008b;
    min-height: 400px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.first-block > div {
    background-color: #ee82ee;
    min-width: 800px;
    padding-top: 11%;
    padding-bottom: 11%;
}

/* Fine First Block  */

/* Inizio Second Block  */

.pink-blue-white-box {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;

}

.pink-blue-gray-box {
    background-color: #d3d3d3;
    margin-top: 40px;
    margin-bottom: 40px;
}

.small-section {
    min-height: 450px;
    min-width: 420px;
    background-color: #ffc0cb;
}

.big-section {
    min-height: 450px;
    min-width: 630px;
    background-color: #1e90ff;
}

/* Fine second block  */

/* Inizio third block  */

.third-block {
    background-color: #d3d3d3;
    min-height: 450px;
    min-width: 1050px;
}